.footer{
    background-color: var(--bg-color);
    margin: 0;
    padding: 5px 0;
}


.footer .social_icons{
    text-align: center;
    
}

.footer ul{
    text-align: center;
    font-size: 1.8rem;
}

.footer ul li{
    display: inline-block;
    margin-left: 20px;
}

.footer ul li a{
    color: var(--text-color);
    border-bottom: 3px solide transparent;
    transition: 0.2s ease-in-out;
}

/* trait sous les éléments a */
.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}

.footer .copyright{
    text-align: center;
    font-size: 16px;
}

