section{
    min-height: 100vh;
    padding: 10rem 12%;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    
}

.home__content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-top: 3rem;
}

.home__content h1{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;

}

.home__content h3{
    font-size: 3rem;
    margin: 1rem 0;
}

.home__content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    text-align: justify;
}



.home_img img{
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.3 ease-in-out;
}

.home_img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 10px var(--main-color),
                0 0 100px var(--main-color)
}

.social_icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background-color: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 0.5rem;
    transition: 0.3 ease;

}

.social_icons a:hover{
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}

.btn_group{
    display: flex;
    gap: 1.5rem;
    
}

.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    border: 2px solid transparent;
    font-weight: 600;
    color: black;
    font-size: 1.8rem;
    transition: 0.3s ease-in-out;

}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color),
                0 0 10px var(--main-color),
                0 0 100px var(--main-color);
    border-radius: 3rem;
    color: var(--text-color);

}

.btn_group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn_group a:nth-of-type(2):hover{
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    color: black;

}



































