.heading{
    text-align: center;
    font-size: 7rem;
    margin: 2.5rem 0;
}

.services{
    background-color: var(--bg-color);
    color: black;
}

.services_container{
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    align-items: center;
    gap: 2.5rem;
}

.service_box{
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-color: var(--fourth-bg-color);
    border-radius: 3.5rem;
    cursor: pointer;

    border: 5px solid transparent;
    transition: 0.5s ease-in-out;
}

.service_box:hover{
    background-color: var(--second-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
    
}
.service_box p:hover{
    background-color: var(--second-color);
    color: var(--text-color);
    transform: scale(1.03);
    
}


.services h2{
    color: var(--text-color);
}

.service_info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.service_info i{
    font-size: 8rem;
}

.service_info h4{
    font-size: 2rem;
    font-weight: 800;
    margin: 2rem 0;
}

.service_info p{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
}




